html {
    font-size: 1rem;
}

.small-text {
    font-size: 0.9rem;
}

.row-content {
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid lightgray;
}

.index-header {
    background-image: url("images/biking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bikes-header {
    background-image: url("images/bike-shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-header {
    background-image: url("images/commuter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.repair-header {
    background-image: url("images/bike-repair2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tours-header {
    background-image: url("images/tour1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rent-header {
    background-image: url("images/rental-bikes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-header {
    background-image: url("images/amsterdam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-header {
    background-image: url("images/bikes2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-box {
    border: 1px solid #dadada;
    text-align: center;
    padding: 20px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover img {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect .info {
    display: inline-block;
}

.hovereffect .info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect .info {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
}

.hovereffect:hover .info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect .book {
    display: inline-block;
}

.hovereffect .book:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect .book {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
}

.hovereffect:hover .book {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hours-list {
    font-size: 1.1rem;
    font-weight: lighter;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0rem;
}

.button-link:hover {
    text-decoration: underline;
}

.button-link:focus {
    box-shadow: none;
    text-decoration: none;
}

.button-link:focus:hover {
    text-decoration: underline;
}
